name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install Rust
      uses: dtolnay/rust-toolchain@nightly
      with:
        targets: wasm32-unknown-unknown
    - name: Install cargo-leptos
      run: cargo install cargo-leptos --locked
    - name: Build
      run: cargo leptos build --verbose
    - name: Run tests
      run: cargo test --verbose
